<% include ./partials/boilerplate.ejs %>

<div class="nav-btn buttons">
	<a href='/clients/'>
		<button class="button is-primary">View All Clients</button></a>
	<a href='/clients/newclient'>
		<button class="button is-primary">Create New Client</button></a>
	<a href='/clients/search'>
		<button class="button is-primary">Destination Search</button></a>
</div>

<% include ./partials/footer.ejs %>