<% include ./partials/boilerplate.ejs %>
<nav class="">
	<div class="" id="navbarNavAltMarkup">
		<div class="">
			<a href='/clients/newclient'>
				<button class="">Create New Client</button></a>
			<a href='/clients/'>
				<button class="">View All Clients</button></a>
			<a href='/clients/search'>
				<button class="">Destination Search</button></a>
		</div>
	</div>
</nav>
<!-- Home page where users can create a new client to add to database and also view all clients in database-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3 class="">My Life Is Your Vacation</h3>





<% include ./partials/footer.ejs %>