<% include ./partials/boilerplate.ejs %>

<!--Logs in user and directs to Home page -->

<div class="field">
  <form action="/login" method="post">
    <label class="label">
      Username:
      <input class="input is-small is-rounded is-focused" type="text" name="username" autocomplete=''>
    </label><br>
    <label class="label">
      Password:
      <input class="input is-small is-rounded  type=" password" name="password" autocomplete=''>
    </label><br>
    <button type="submit" class="button is-link">Log In</button>
  </form>
</div>
<br>
<br>
<br>
<a class="button is-success" href='/signup'>Don't Have An Account? Sign UP!</a>

<% include ./partials/footer.ejs %>