<% include ./partials/boilerplate.ejs %>

<!-- Creates Google map -->
<div id="map"></div>




<a href='/loggedin'>
	<button class="btn btn-primary">Home</button></a>


<% include ./partials/footer %>