<% include ../partials/boilerplate %>
<section class="hero dash-img">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				New Client
			</h1>

		</div>
	</div>
</section>
<br>

<a href='/loggedin'>
	<button class="button is-primary">Home</button></a>
<a href='/clients/'>
	<button class="button is-primary">View All Clients</button></a>



<!--Creates a form for user to create a new client to be added to database -->

<div class="box login-box field">
	<form method="POST" action="/clients">


		<input class="input is-medium" name="fname" type="text" placeholder="First Name:" /><br>
		<input class="input is-medium" name="lname" type="text" placeholder="Last Name:" /><br>
		<div class="select is-danger">

			<select name="sex" type="text">
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select>
		</div>
		<input class="input is-medium" name="address" type="text" placeholder="Address:" /><br>
		<input class="input is-medium" name="homephone" type="tel" placeholder="Home Phone:" /><br>
		<input class="input is-medium" name="cellphone" type="tel" placeholder="Cell Phone:" /><br>
		<input class="input is-medium" name="email" type="email" placeholder="Email:" /><br>
		<input class="input is-medium is-danger" name="dob" type="date" placeholder="Date of Birth:" /><br>
		<div class="select is-danger">
			<select name="clienttag" type="text"><br>
				<% type.forEach(type =>{ %>
				<option value="<%= type.typeid %>"><%= type.type %></option>
				<% }) %>
			</select><br>

		</div>
		<input class="button is-info" type="Submit" Value="Create New Profile" />

	</form>

</div>

<% include ../partials/footer %>